#Folders
.circleci
coverage
src
dist
pact/logs
pact/log
pact/pacts
scripts

#Files
.gitignore
.editorconfig
.prettierrc
jest.config.js
renovate.json
tsconfig.json
yarn-error.log
yarn.lock
junit.xml
tslint.json
.travis.yml
.codeclimate.yml
RELEASING.md
CONTRIBUTING.md
commitlint.config.js
jestpact.tar.gz
